.detalleContenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

}

.imagesArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.contenedorFormEditProd {
    width: 90%;
    padding: 2rem 0;
}

.botonesArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.blockImages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.imgPrincipal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgPrincipal img {
    width: 95%;
}

.otrasFotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 0.3rem;
}

.formDelete {
  width: 100%; 
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.otrasFotos img {
    width: 32.6%;
    height: auto;
}

.infoProducto {
    width: 100%;
    padding: 1rem;
}

.bloqueInfoProd {
    width: 100%;
    background-color: #e5c4b240;
    height: fit-content;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.titleAndPrice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem;
}

.titleAndPrice h1 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 20px;
}

.titleAndPrice p {
    font-weight: 600;
}

.descriptionProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem;

}

.descriptionProduct ul li {
    list-style-type: disc;
}

.mg2 {
    margin: 2rem 1rem;
}

.contenedorEdit {
    width: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background-color:white;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 99999999;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    margin: auto;
}

.titleMsgTemporal {
    display: flex;
    flex-direction: row;
    background-color: #D95A4D;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    gap: 0.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 400;
}

.x {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .detalleContenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    
    .imagesArea {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .blockImages {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    
    .imgPrincipal {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .imgPrincipal img {
        width: 90%;
    }
    
    .otrasFotos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 0.3rem;
    }
    
    .otrasFotos img {
        width: 100px;
        height: 100px;
    }
    
    .infoProducto {
        width: 50%;
    }
    
    .bloqueInfoProd {
        width: 100%;
        background-color: #e5c4b240;
        height: fit-content;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }
    
    .titleAndPrice {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.3rem;
    }
    
    .titleAndPrice h1 {
        font-weight: 400;
        margin-bottom: 0;
    }
    
    .titleAndPrice p {
        font-weight: 600;
    }
    
    .descriptionProduct {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.3rem;
    
    }
    
    .descriptionProduct ul li {
        list-style-type: disc;
    }

    .contenedorEdit {
        width: 80%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        background-color: white;
        color: white;
        top: 7rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 99999999;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    }

    .titleMsgTemporal {
        display: flex;
        flex-direction: row;
        background-color: #D95A4D;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 100%;
        gap: 0.5rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .x {
        position: absolute;
        top: 12px;
        right: 18px;
        font-size: 18px;
        cursor: pointer;
    }
}

@media screen and (min-width:1280px) {
    .detalleContenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    .imagesArea {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .blockImages {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    
    .imgPrincipal {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .imgPrincipal img {
        width: 400px;
    }
    
    .otrasFotos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.3rem;
    }
    
    .otrasFotos img {
        width: 130px;
        height: 130px;
    }
    
    .infoProducto {
        width: 50%;
    }
    
    .bloqueInfoProd {
        width: 80%;
        background-color: #e5c4b240;
        height: 70vh;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }
    
    .titleAndPrice {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.3rem;
    }
    
    .titleAndPrice h1 {
        font-weight: 400;
        margin-bottom: 0;
    }
    
    .titleAndPrice p {
        font-weight: 600;
    }
    
    .descriptionProduct {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.3rem;
    
    }
    
    .descriptionProduct ul li {
        list-style-type: disc;
    }

    .contenedorEdit {
        width: 50%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        background-color:white;
        color: white;
        top: 7rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 99999999;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    }

    .titleMsgTemporal {
        display: flex;
        flex-direction: row;
        background-color: #D95A4D;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 100%;
        gap: 0.5rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .x {
        position: absolute;
        top: 12px;
        right: 18px;
        font-size: 18px;
        cursor: pointer;
        font-weight: 500;
    }
    
    
}