.contFormNew {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dinamicTitle{
    cursor: pointer;
}

.contenedorRadios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.3 1rem;
}

.contFormNew h3 {
    color: white;
    width: 100%;
    background-color: #D95A4D;
    padding: 0.5rem;
    text-align: center;
}

.formNew {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
    padding-top: 0;
}

.formBlockInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;
}

.formBlockInput label {
    width: 100%;
    color: #D95A4D;
    font-weight: 500;
}

.inputForm {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    
}

.selectForm {
    width: 100%;
    border: 1px solid #d5d5d5;
    padding: 0.5rem;
}

@media screen and (min-width:1280px) {

    .contFormNew {
        width: 80%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
    }
    
    .contFormNew h3 {
        color: white;
        width: 100%;
        background-color: #D95A4D;
        padding: 0.5rem;
        text-align: center;
    }
    
    .formNew {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .formBlockInput {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.3rem;
    }
    
    .formBlockInput label {
        width: 100%;
        color: #D95A4D;
        font-weight: 500;
    }
    
    .inputForm {
        width: 100%;
        border-bottom: 1px solid #d5d5d5;
        
    }
    
    .selectForm {
        width: 100%;
        border: 1px solid #d5d5d5;
        padding: 0.5rem;
    }
    
}
