<article class="distribuidor" id="distribuidor">
        
    <section class="info-distribuidor">

        <h4>¿Quieres ser distribuidor (a) de Magia?</h4>
        <p class="p-distribuidor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        </p>

    </section>

</article>

<article class="formulario">
    <form action="/dd" method="post">
        <div>
            <label for="nombre">¿Como te llamas?*</label>
            <input class="b" type="text" name="nombre" id="nombre" required>
        </div>

        <div>
            <label for="numero">Numero de contacto*</label>
            <input class="b" type="tel" name="numero" id="numero" required>
        </div>

        <div>
            <label for="numero">Correo*</label>
            <input class="b" type="tel" name="correo" id="correo" required>
        </div>

        <div class="enviar-block">
            <button class="enviar" type="submit">Enviar</button>
        </div>

    </form>

</article>

<article class="block-footer">
    <div class="left-block">
        
        <div class="redes">
            <a class="instagram" href="https://instagram.com/fraganciaencrema?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="facebook" href="https://www.instagram.com/magia.amorcompleto/"><i class="fa-brands fa-facebook"></i></a> 
            <a class="whatsapp" href="wa.link/qfu7su"><i class="fa-brands fa-whatsapp"></i></a>    
        </div>

    </div>

    <img class="flor" src="/images/LOGO_ROJO_V.png" alt="">
    <div class="right-block"></div>
</article>

<a class="wpp" href="wa.link/qfu7su" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
